*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  height: 180px;
  padding: 0px 0px 0px 0px;
  display: flex;
  background-image: linear-gradient(
      rgba(254, 254, 254, 0.5),
      rgba(62, 62, 62, 0.5)
    ),
    url("./vAb0Edjtwg_small.jpg");
  font-weight: 500;
  align-items: center;
  letter-spacing: 2px;
}

header div {
  display: flex;
  flex: 5 1 400px;
}

header h1 {
  font-size: 40px;
  padding-left: 120px;
  color: rgb(250, 250, 250);
}
header nav {
  flex: 2 1 400px;
  justify-content: space-around;
}
header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
header nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 25px;
}

main {
  display: flex;
}
div.mydata {
  width: 100%;
  padding: 100px;
}
.aboutMe {
  display: flex;
  align-items: center;
}
div.myPhoto img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 175px 60px;
}
div.text {
  padding-left: 70px;
  text-align: center;
  line-height: 50px;
}
h2 {
  margin: 40px;
  font-weight: 900;
  font-size: 35px;
}
.text p {
  justify-content: center;
  word-break: keep-all;
  font-size: 22px;
}

.button {
  display: inline-block;
  width: 120px;
  margin-top: 40px;
  color: rgb(255, 254, 254);
  background-color: #808080;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
section {
  width: 100%;
  background-color: #c6c6c6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  min-width: 80rem;
  margin: 0 auto;
  padding: 2rem 2rem;
}

.accordion-item {
  margin: 2rem;
  padding: 0.4rem;
}

.accordion-link {
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 1rem;
  background-color: #969696;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0rem;
  text-indent: 10px;
}
.accordion-link ion-icon {
  color: rgb(255, 255, 255);
  padding: 0.5rem;
}

ion-icon.up {
  display: none;
}
.answer {
  max-height: 0;
  border-radius: 0.3rem;
  overflow: scroll;
  position: relative;
  background-color: #82828200;
  transition: max-height 800ms;
}

.answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: #ffffcc;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  padding: 1.8rem;
  text-shadow: 2px 2px 5px #efefef;
  line-height: 40px;
  letter-spacing: 1.3px;
}
.accordion-item:target .answer {
  max-height: 20rem;
}

.accordion-item:target .down {
  display: none;
}
.accordion-item:target .up {
  display: block;
}
.container3 {
  height: 100%;
  background-image: linear-gradient(
      rgba(9, 9, 9, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./vAb0Edjtwg_small.jpg");
}
.contact {
  padding: 1rem 0rem;
  text-align: center;
}

h3 {
  text-align: center;
  color: #ffffffe4;
  font-size: 40px;
  letter-spacing: 10px;
  padding-bottom: 1rem;
}
.contact ul {
  text-align: center;
  list-style: none;
}
.contact ul li {
  margin: 8px;
  font-size: 22px;
}

@media (max-width: 1250px) {
  header div {
    flex-wrap: wrap;
  }
  .aboutMe {
    flex-wrap: wrap;
  }
  .myPhoto {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .myPhoto {
    width: 80%;
  }
}
